@media screen and (max-width:1024px) {
    body {
        padding: 0;
        background-image: url(assets/9.jpeg);
        background-repeat: no-repeat;
        background-size: 150%;
    }
    .content {
        border-radius: 0;
        background: none;
        padding: 3%;

        &_about {
            background: white;
        }
        &_portfolio {
            background-color: #f0eceb;
        }
    }
    .link {
        display: none;
    }
    .header {
        align-items: center;
        color: white;

        &_about {
            color: black;
            margin-bottom: 3vh;
        }
        &_portfolio {
            color: black;
        }
        &__logo {
            color: inherit;
            font-size: 1.5em
        }
        &__menu {
            position: unset;
        }
        &__devider {
            background-color: white;

            &_about {
                background-color:black ;
            }

            &:last-child {
                margin: 0;
            }
        }
    }
    .dropdown {
        &__item {
            &:first-child {
                left: 94%;
                top: 2%;
            }
        }
    }
    .main {
        left: 15.3%;
        top: 33%;
        color:white;

        &_about {
            display: flex;
            justify-content: center;
            position: relative;
            flex-grow: 1;
            flex-direction: column;
            align-items: center;
            color: black;

        }
        &_portfolio {
            overflow: unset;
        }
        
        &__content_portfolio {
            position: unset;
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center center;
            height: 30%;
            margin: 27px 0;
            width: 101%;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            &:nth-child(2n) {
               background-image: url(assets/13.jpeg);
            }
            &:nth-child(3n) {
                background-image: url(assets/32.jpeg);
            }
            &:nth-child(4n) {
                background-image: url(assets/2-4.jpeg);
            }
            &:nth-child(5n) {
                background-image: url(assets/23-3.jpeg);
            }
        }
        &__title {
            font-size: 7vw;
            color: inherit;

            &_about {
            position: unset;
            }
            &_portfolio {
                position: unset;
            }
        }
        &__paragraph {
            font-size: 3vw;
            width: 58ch;
            color: inherit;

            &_bold {
                font-size: 6vw;
            }

            &_portfolio {
                color: white;
                margin-bottom: 3vh;
                font-size: 4vw;
            }
        }
        &__img {
            width: 110%;
            height: 100%;

            &_portfolio {
                display: none;
            }
        }
    }
}