.content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 23px 39px;
    height: 100%;
    background-color: #f0eceb;
    border-radius: 22px;
    overflow: hidden;
    box-sizing: border-box;

    &_about{
        background-image: none;
    }
    &_portfolio {
        background-image: none;
        height: unset;
        padding: 23px 0;
        overflow: unset;
    }
}