.dropdown {

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;

        // transform-origin: 0% 0%;
        // transform: translate(0, -154%);
        // transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #f0eceb;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        transition: 1s;
    }

    &__item {
        &:first-child {
            width: 24px;
            height: 24px;
            position: fixed;
            left: 50%;
            top: 13%;
            transform: translateX(-50%);
        }
    }
    &__link {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 2em;
        color: grey;
        &:hover {
            opacity: 0.5;
        }
    }

    &__checkbox {
        display: none;

        &:checked ~ ul{
            transition: 1s;
            opacity: 1;
        }
    }

    &__item {

    }

}