.main {
    position: relative;
    height:70%;

    &__content {
        position: absolute;
        left: 22.3%;
        top: 23%;
        height: 34%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__title {
        text-transform: uppercase;
        font-size: 32px;
        width: 22ch;
        line-height: 45px;
        letter-spacing: 1.8px;
        margin: 0;
    }
}