.main {
    position: absolute;
    left: 30.3%;
    top: 35%;

    &__title {
        text-transform: uppercase;
        font-size: 1.9vw;
        width: 22ch;
        line-height: 5vh;
        letter-spacing: 1.8px;
        margin: 0;

        &_about{
            font-size: 2.8em;
            position: absolute;
            top: -11%;
            left: 16.4%;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &_about {
        display: flex;
        justify-content: center;
        position: relative;
    }
    &__paragraph {
        width:42ch;
        color: gray;
    }
    &__img {
        width: 300px;
    }
}