html {
    min-height: 100%;
    display: flex;

    
}
body {
    width: 100%; 
    background-image: url(assets/11.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    box-sizing: border-box;
    overflow-y: auto;

    @media @min1024 {
        padding: 94px 203px;
    }

}

@max1024: (max-width: 1024px);
@min1024: (min-width: 1024px);


@media @max1024 {
    .is_hidden_mobile {
        display: none;
    }
    #first {
        background-image: url(assets/13.jpeg)
    }
    #second {
        background-image: url(assets/32.jpeg)
    }
    #third {
        background-image: url(assets/2-4.jpeg)
    }
    #forth {
        background-image: url(assets/23-3.jpeg)
    }
}

#first, #third {
    justify-content: flex-end;
}
#first {
    margin-right: -40px;
}
#second, #third, #forth {
    margin-top: -120px;
}
#forth {
    margin-left:-40px;
}

@media @max1024 {
    #first, #second, #third, #forth {
        margin: 0;
    }
}

@import url(less/content.less);
@import url(less/header.less);
@import url(less/dropdown.less);
@import url(less/footer.less);
@import url(less/list.less);
@import url(less/main.less);
@import url(less/icon.less);
@import url(less/title.less);
@import url(less/paragraph.less);




