html {
    height: 100%;

    
}
body {
    width: 100%;
    height: 100%;
    background-image: url(assets/11.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 94px 203px;
    box-sizing: border-box;
    overflow-y: scroll;

    @media @max1024 {
        padding: unset;
    }

}

@max1024: (max-width: 1024px);



@media @max1024 {
    .is_hidden_mobile {
        display: none;
    }
    #first {
        background-image: url(assets/13.jpeg)
    }
    #second {
        background-image: url(assets/32.jpeg)
    }
    #third {
        background-image: url(assets/2-4.jpeg)
    }
    #forth {
        background-image: url(assets/23-3.jpeg)
    }
}
@import url(less/content.less);
@import url(less/header.less);
@import url(less/dropdown.less);
@import url(less/footer.less);
@import url(less/list.less);
@import url(less/main.less);
@import url(less/icon.less);
@import url(less/title.less);
@import url(less/paragraph.less);




